
.container {
  position: absolute;
  
  color: white;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(40, 75, 99, 0.8);
  background-size: cover;
  border-radius: 5px;
  height: 50%;
  width: 50%;
}

button {
  position: relative;
  margin: 15px 0 5px 0;
  left: 50%;
  transform: translateX(-50%);
  background: #58a4b0;
  border: none;
  border-radius: 5px;
  padding: 10px;
  color: white;
  width: 60%;
  font-family: "Noto Sans", sans-serif;
  font-size: 14px;
  cursor: pointer;
}


