.custom-input {
  padding: 10px 6px;
  margin-bottom: 10px;
  font-size: 14px;
  border-radius: 4px;
  font-weight: 600;
}

.custom-input:focus {
  outline: none;
}

.input-label {
  font-size: 12px;
  margin-bottom: 3px;
}

.custom-button {
  font-size: 18px;
  font-weight: 500;
  background: #58a4b0;
  color: white;
  padding: 10px 10px;
  border-radius: 4px;
}
